.about-section {
  position: relative;

  &__content > div {
    &:not(last-child) {
      margin-bottom: 1px;
    }
  }

  &__mobile {
    display: none;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-grey;
    font-size: 28px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 32px;
    width: 206px;
    background: $bg-primary-1;
  }

  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-primary-2;
    height: 100%;
    width: 36px;
    margin-left: 15px;
    transition: all 0.3s;

    &:hover {
      color: $bg-secondary;
      background: $color-blue;
      transition: all 0.3s;
    }

    &--mobile {
      display: none;
    }
  }

  &__save-cancel {
    display: none;
  }
}

// Media queries
@media (min-width: 320px) and (max-width: 480px) {
  .about-section {
    &__content {
      display: none;
    }
    &__mobile {
      display: flex;
      flex-direction: column;
      padding-top: 12px;

      & > * {
        &:first-child {
          font-weight: 600;
          font-size: 24px;
        }

        &:not(last-child) {
          margin-bottom: 16px;
        }
      }
    }

    &__info {
      background-color: transparent;
      font-size: 18px;
    }

    &__edit {
      &--mobile {
        justify-content: center;
        align-items: center;
        color: #666b6f;
        background: $bg-primary-2;
        height: 32px;
        width: 46px;
        margin-right: 26px;
        transition: all 0.3s;
        display: flex;
        font-size: 16px;
      }
    }

    &__save-cancel {
      display: none;
      font-size: 16px;
      color: $color-blue;
      text-transform: uppercase;
      margin-right: 26px;

      & > div {
        &:first-child {
          margin-right: 26px;
        }
      }
    }
  }
}
