.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 7px 0;

  &--outline-blue {
    color: $color-blue;
    border: solid rgba(53, 132, 224, 0.62) 1px;
  }

  &--outline-grey {
    color: $color-grey;
    border: solid $color-grey-light 1px;
  }

  &--solid-blue {
    background: $color-blue;
    color: $bg-secondary;
  }
}
