.input {
  &__field {
    width: 100%;
    font-family: inherit;
    font-weight: 200;
    font-size: 12px;
    color: #2b363d;
    border: none;
    border-bottom: solid 2px $color-grey-light;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }
  }
}
