.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: $bg-secondary;
  padding: 0 16px 0;

  box-shadow: 0 0 5px rgba($color-grey, 0.6);
  border: solid 1.3px rgba(0, 0, 0, 0.05);

  &__navigation {
    display: flex;
    list-style: none;

    li {
      font-size: 12px;
      text-transform: uppercase;

      &:not(last-child) {
        margin-right: 16px;
      }
    }
  }

  &__follow {
    display: flex;
    align-items: center;
    color: $color-grey-light;
  }

  &__follow-btn {
    margin-left: 10px;
  }

  &__follows {
    color: $color-dark;
    margin: 5px;
  }
}

// Media queries
@media (min-width: 320px) and (max-width: 480px) {
  .nav-bar {
    position: relative;
    margin-top: 76px;
    padding: 0;
    border: none;

    &__navigation {
      li {
        font-size: 16px;
        text-transform: uppercase;
      }

      li:not(last-child) {
        margin-right: 20px;
      }

      li:last-child {
        display: none;
      }
    }

    &__follow {
      position: absolute;
      top: -52px;
      font-size: 14px;
      color: $color-grey;
      padding-left: 18px;
    }

    &__follow-btn {
      margin-left: 4px;
    }
  }
}
