.tooltip {
  position: absolute;
  left: 224px;
  display: inline-block;

  &__text {
    padding: 12px;
    margin-bottom: 5px;
    height: 108px;
    width: 214px;
    box-shadow: 0 0 16px rgba($color-grey, 0.6);

    /* Position the tooltip */
    // position: absolute;
    z-index: 10;

    &::after {
      content: ' ';
      position: absolute;
      top: 25%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent $bg-secondary transparent transparent;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $color-grey-light;
    font-size: 10px;
  }

  &__field {
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 2px;
  }

  &__btns {
    display: flex;
    margin-top: 16px;
    text-transform: uppercase;

    & > div {
      height: 22px;
      width: 55px;
      font-weight: 800;

      &:not(last-child) {
        margin-right: 22px;
      }
    }
  }
}

// Media queries
@media (min-width: 320px) and (max-width: 480px) {
  .tooltip {
    display: none;
  }
}
