/* Selects each and every element in the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #2b363d;
  background: rgba(219, 248, 248, 0.4); }

.container {
  width: 70%;
  margin: 0 auto; }

.content-container {
  margin-top: 28px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(156, 165, 172, 0.6); }

.content-info {
  padding: 32px 0 0 24px; }

.u-margin-top-medium {
  margin-top: 28px; }

.u-margin-left-very-small {
  margin-left: 5px; }

.light-grey {
  color: #e2e9ef !important; }

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%; }
  .content-container {
    margin-top: 18px;
    height: 316px;
    margin-bottom: 36px; } }

.header {
  position: relative;
  margin-top: 50px;
  height: 186px;
  padding: 16px 16px 0;
  background: #fff; }
  .header__float {
    margin-left: 130px;
    padding-left: 18px; }

.log-out {
  font-weight: 600;
  text-transform: uppercase;
  width: 94px; }
  .log-out__container {
    display: flex;
    justify-content: flex-end; }
  .log-out__mobile {
    display: none; }

.upload {
  justify-content: space-evenly !important;
  width: 170px;
  font-size: 12px; }
  .upload__container {
    display: flex;
    color: #e2e9ef;
    justify-content: center; }

.profile-icon {
  height: 124px;
  width: 130px;
  overflow: hidden;
  box-shadow: 0px 0px 3px -1px; }
  .profile-icon__image {
    height: 100%;
    width: 100%;
    transform: scale(1.5); }

.profile {
  display: flex;
  justify-content: space-between;
  margin-top: -105px; }
  .profile__name {
    color: #2b363d;
    font-weight: 500;
    font-size: 18px; }
  .profile__contacts {
    color: #4e5253;
    font-size: 12px; }
    .profile__contacts span {
      margin-left: 8px; }
  .profile__rating {
    margin-right: 20px; }
    .profile__rating > *:not(last-child) {
      margin-right: 2px; }
  .profile__review {
    display: flex;
    color: #9ca5ac; }
    .profile__review__no {
      margin-right: 16px; }
    .profile__review__info {
      display: flex; }

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    position: relative;
    margin-top: 20px;
    height: 350px;
    width: 100%;
    padding: 0;
    background: rgba(219, 248, 248, 0); }
    .header__float {
      margin-left: 0; }
  .log-out {
    display: none;
    visibility: hidden;
    font-weight: 600;
    text-transform: uppercase;
    width: 94px; }
    .log-out__container {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px; }
    .log-out__mobile {
      display: flex;
      color: #3584e0;
      text-transform: uppercase;
      font-weight: 600;
      font-weight: 800;
      font-size: 14px; }
  .upload__container {
    visibility: hidden; }
  .profile-icon {
    display: flex;
    justify-content: center;
    width: unset;
    overflow: hidden;
    box-shadow: none; }
    .profile-icon__image {
      height: 100%;
      width: 150px;
      transform: unset; }
  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 14px; }
    .profile__contacts {
      font-size: 14px;
      margin-bottom: 10px; }
    .profile__name {
      display: flex;
      justify-content: center !important;
      font-size: 22px; }
    .profile__rating {
      color: #3584e0;
      margin-bottom: 10px; }
    .profile__review {
      display: flex;
      flex-direction: column; }
      .profile__review__info > div:first-child {
        color: black; } }

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: #fff;
  padding: 0 16px 0;
  box-shadow: 0 0 5px rgba(156, 165, 172, 0.6);
  border: solid 1.3px rgba(0, 0, 0, 0.05); }
  .nav-bar__navigation {
    display: flex;
    list-style: none; }
    .nav-bar__navigation li {
      font-size: 12px;
      text-transform: uppercase; }
      .nav-bar__navigation li:not(last-child) {
        margin-right: 16px; }
  .nav-bar__follow {
    display: flex;
    align-items: center;
    color: #e2e9ef; }
  .nav-bar__follow-btn {
    margin-left: 10px; }
  .nav-bar__follows {
    color: #2b363d;
    margin: 5px; }

@media (min-width: 320px) and (max-width: 480px) {
  .nav-bar {
    position: relative;
    margin-top: 76px;
    padding: 0;
    border: none; }
    .nav-bar__navigation li {
      font-size: 16px;
      text-transform: uppercase; }
    .nav-bar__navigation li:not(last-child) {
      margin-right: 20px; }
    .nav-bar__navigation li:last-child {
      display: none; }
    .nav-bar__follow {
      position: absolute;
      top: -52px;
      font-size: 14px;
      color: #9ca5ac;
      padding-left: 18px; }
    .nav-bar__follow-btn {
      margin-left: 4px; } }

.about-section {
  position: relative; }
  .about-section__content > div:not(last-child) {
    margin-bottom: 1px; }
  .about-section__mobile {
    display: none; }
  .about-section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9ca5ac;
    font-size: 28px; }
  .about-section__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 32px;
    width: 206px;
    background: #f5f8f9; }
  .about-section__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf2f5;
    height: 100%;
    width: 36px;
    margin-left: 15px;
    transition: all 0.3s; }
    .about-section__edit:hover {
      color: #fff;
      background: #3584e0;
      transition: all 0.3s; }
    .about-section__edit--mobile {
      display: none; }
  .about-section__save-cancel {
    display: none; }

@media (min-width: 320px) and (max-width: 480px) {
  .about-section__content {
    display: none; }
  .about-section__mobile {
    display: flex;
    flex-direction: column;
    padding-top: 12px; }
    .about-section__mobile > *:first-child {
      font-weight: 600;
      font-size: 24px; }
    .about-section__mobile > *:not(last-child) {
      margin-bottom: 16px; }
  .about-section__info {
    background-color: transparent;
    font-size: 18px; }
  .about-section__edit--mobile {
    justify-content: center;
    align-items: center;
    color: #666b6f;
    background: #ebf2f5;
    height: 32px;
    width: 46px;
    margin-right: 26px;
    transition: all 0.3s;
    display: flex;
    font-size: 16px; }
  .about-section__save-cancel {
    display: none;
    font-size: 16px;
    color: #3584e0;
    text-transform: uppercase;
    margin-right: 26px; }
    .about-section__save-cancel > div:first-child {
      margin-right: 26px; } }

.settings-section {
  display: none; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 7px 0; }
  .btn--outline-blue {
    color: #3584e0;
    border: solid rgba(53, 132, 224, 0.62) 1px; }
  .btn--outline-grey {
    color: #9ca5ac;
    border: solid #e2e9ef 1px; }
  .btn--solid-blue {
    background: #3584e0;
    color: #fff; }

.tooltip {
  position: absolute;
  left: 224px;
  display: inline-block; }
  .tooltip__text {
    padding: 12px;
    margin-bottom: 5px;
    height: 108px;
    width: 214px;
    box-shadow: 0 0 16px rgba(156, 165, 172, 0.6);
    /* Position the tooltip */
    z-index: 10; }
    .tooltip__text::after {
      content: ' ';
      position: absolute;
      top: 25%;
      right: 100%;
      /* To the left of the tooltip */
      margin-top: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent #fff transparent transparent; }
  .tooltip__title {
    text-transform: uppercase;
    color: #e2e9ef;
    font-size: 10px; }
  .tooltip__field {
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 2px; }
  .tooltip__btns {
    display: flex;
    margin-top: 16px;
    text-transform: uppercase; }
    .tooltip__btns > div {
      height: 22px;
      width: 55px;
      font-weight: 800; }
      .tooltip__btns > div:not(last-child) {
        margin-right: 22px; }

@media (min-width: 320px) and (max-width: 480px) {
  .tooltip {
    display: none; } }

.input__field {
  width: 100%;
  font-family: inherit;
  font-weight: 200;
  font-size: 12px;
  color: #2b363d;
  border: none;
  border-bottom: solid 2px #e2e9ef; }
  .input__field:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
