.container {
  width: 70%;
  margin: 0 auto;
}

.content-container {
  margin-top: 28px;
  height: 400px;
  background-color: $bg-secondary;
  box-shadow: 0 0 5px rgba($color-grey, 0.6);
}

.content-info {
  padding: 32px 0 0 24px;
}

.u-margin-top-medium {
  margin-top: 28px;
}

.u-margin-left-very-small {
  margin-left: 5px;
}

.light-grey {
  color: $color-grey-light !important;
}

// Media queries
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .content-container {
    margin-top: 18px;
    height: 316px;
    margin-bottom: 36px;
  }
}
