// COLORS

$primary-color: rgba(65, 74, 80, 1);
$bg-primary: rgba(219, 248, 248, 0.4);
$bg-primary-1: rgba(245, 248, 249, 1);
$bg-primary-2: rgba(235, 242, 245, 1);
$bg-secondary: #fff;

$color-dark: rgba(43, 54, 61, 1);
$color-dark-1: rgba(78, 82, 83, 1);

$color-blue-light: rgba(53, 132, 224, 0.62);
$color-blue: rgba(53, 132, 224, 1);

$color-grey-light: rgba(226, 233, 239, 1);
$color-grey: rgba(156, 165, 172, 1);

// Sizes
$profile-pic-width: 130px;
