.header {
  position: relative;
  margin-top: 50px;
  height: 186px;
  padding: 16px 16px 0;
  background: $bg-secondary;

  &__float {
    margin-left: $profile-pic-width;
    padding-left: 18px;
  }
}

.log-out {
  font-weight: 600;
  text-transform: uppercase;
  width: 94px;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__mobile {
    display: none;
  }
}

.upload {
  justify-content: space-evenly !important;
  width: 170px;
  font-size: 12px;

  &__container {
    display: flex;
    color: $color-grey-light;
    justify-content: center;
  }
}

.profile-icon {
  height: 124px;
  width: $profile-pic-width;
  overflow: hidden;
  box-shadow: 0px 0px 3px -1px;

  &__image {
    height: 100%;
    width: 100%;
    transform: scale(1.5);
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  margin-top: -105px;

  &__name {
    color: $color-dark;
    font-weight: 500;
    font-size: 18px;
  }

  &__contacts {
    color: $color-dark-1;
    font-size: 12px;

    span {
      margin-left: 8px;
    }
  }

  &__rating {
    margin-right: 20px;

    & > * {
      &:not(last-child) {
        margin-right: 2px;
      }
    }
  }

  &__review {
    display: flex;
    color: $color-grey;

    &__no {
      margin-right: 16px;
    }

    &__info {
      display: flex;
    }
  }
}

// Media queries
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    position: relative;
    margin-top: 20px;
    height: 350px;
    width: 100%;
    padding: 0;
    background: rgba($bg-primary, 0);

    &__float {
      margin-left: 0;
    }
  }

  .log-out {
    display: none;
    visibility: hidden;
    font-weight: 600;
    text-transform: uppercase;
    width: 94px;

    &__container {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
    }

    &__mobile {
      display: flex;
      color: $color-blue;
      text-transform: uppercase;
      font-weight: 600;
      font-weight: 800;
      font-size: 14px;
    }
  }

  .upload {
    &__container {
      visibility: hidden;
    }
  }

  .profile-icon {
    display: flex;
    justify-content: center;
    width: unset;
    overflow: hidden;
    box-shadow: none;

    &__image {
      height: 100%;
      width: 150px;
      transform: unset;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 14px;

    &__contacts {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__name {
      display: flex;
      justify-content: center !important;
      font-size: 22px;
    }

    &__rating {
      color: $color-blue;
      margin-bottom: 10px;
    }

    &__review {
      display: flex;
      flex-direction: column;

      &__info > div {
        &:first-child {
          color: black;
        }
      }
    }
  }
}
